.input-box {
    text-align: center;
}
.input-box input {
    padding: 2px 5px;
}
.input-box .button {
    padding: 5px 15px;
    color: white;
    background-color: #1E90FF;
    border: none;
    cursor: pointer;
}
.input-box input {
    min-width: 250px;
}